.dim-outer {
  float: right;
  font-size: 12px;
  margin: 10px;
  border: 5px solid #e3e3e3;
  padding: 1em;
  height: 200px;
  width: 200px;
  overflow: auto;
  position: relative;
}
.dim-inner {
  border: 1px solid #ccc;
  background: #e3e3e3;
  top: 20px;
  position: relative;
}